* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #e0e0e0;
  padding: 50px 0;
}
#root {
  width: fit-content;
  margin: 0 auto;
}
.App {
  position: relative;
  width: 450px;
  border-radius: 10px;
  background: #e0e0e0;

  font-family: 'Roboto';
  box-shadow: 4px 4px 6px #bebebe, -4px -4px 6px #ffffff;

  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0 20px;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  &_about {
    display: flex;
    align-items: center;
  }
  &_name {
    font-size: 15px;
    line-height: 15px;
    color: gray;
    font-weight: 500;
    padding: 0 10px;
  }
}
.page_title {
  font-size: 40px;
  margin-bottom: 12px;
}
.section {
  padding: 50px 0;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  &_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
    padding-top: 20px;
  }
  &_nav {
    display: flex;
    align-items: center;
    padding: 0 0 15px;
  }

  &_message {
    max-width: 90%;
    padding: 10px 17px;
    border-radius: 10px;
    color: #808080;
    background: #e0e0e0;
    box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff;
    display: flex;
    position: relative;
    column-gap: 10px;
    animation: fadeIn 0.15s ease-in-out;
    &_default {
      align-self: center;
    }
    &_text {
      font-size: 16px;
    }
    &_date {
      font-size: 11px;
      align-self: flex-end;
      font-weight: 300;
    }
    &.me {
      align-self: flex-end;
    }
    &.your {
      align-self: flex-start;
    }
    &_container {
      width: 100%;
      height: 100%;
      padding: 10px;

      display: flex;
      flex-direction: column;

      row-gap: 14px;
      overflow-y: scroll;

      border-radius: 10px;
      box-shadow: inset 2px 2px 4px #bebebe,inset -2px -2px 4px #ffffff;
      &::-webkit-scrollbar{
        width: 10px;
        background: none;
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 4px;
        width: 10px;
        background: #cbcbcb;
      }
    }
  }

  &_input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 20px 10px;
    background: #e0e0e0;
    &_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgb(0, 119, 255);
      background: #e0e0e0;
    }
  }

  &_card {
    &_left {
      display: flex;
      align-items: center;
    }
    &_user {
      &_name {
        font-size: 18px;
        font-weight: 600;
      }
      &_descr {
        width: 300px;
        font-size: 15px;
        line-height: 15px;
        font-weight: 400;
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &_date {
        font-size: 13px;
        line-height: 13px;
        font-weight: 400;
        color: gray;
        align-self: flex-start;
      }
    }
  }
}

.main {
  padding-bottom: 20px;
  &_title {
    font-size: 44px;
    line-height: 40px;
    font-weight: 700;

    color: rgb(74, 74, 74);
    margin-right: 7px;
    &_block {
      display: flex;
      align-items: flex-end;
      margin: 25px 0 25px;
    }
  }
  &_alert {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
  }
}

.modal {
  &-create {
    &_title {
      font-size: 38px;
      font-family: 'Roboto';
      margin-bottom: 18px;
      color: rgb(74, 74, 74);
    }
    &_btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  &_btn {
    &-back,&-enter {
      background: #e0e0e0;
      color: #808080;
      box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff;
    }
  }
}
